@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
} 

.container{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  width: 650px;
  margin: 80px auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.detail{
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
  margin-right: 60px;
}


.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

button{
  text-align: center;
  padding: 0.4rem;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  cursor: pointer;
}

.product{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 120px;
  border-bottom:1px solid #E1E8EE;
  padding: 20px 30px;
}

.prod-id{
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

img{
  width: 100px;
  height: 100px;
}

.prod-count{
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.prod-delete{
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.num-box{
  border: 1px solid #86939E;
  border-radius: 5px;
  height: 30px;
  width: 35px;
  text-align: center;
  margin: 0.5rem;
}

.prod-price{
  margin-right: 30px;
  width: 75px;
}

.disabled-price{
  font-weight: 300;
  color: red;
}

footer{
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

footer .continue{
  cursor: pointer;
  text-decoration: underline;
}

.sub-price{
  color: #43484D;
  font-weight: 500;
}

.reset{
  width: 25px;
  height: 25px;
}

@media only screen and (max-width: 700px) {
  .container{
    margin: 0 auto;
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .product{
    padding: 10px 0;
    height: auto;
    flex-wrap: wrap;
  }

  .prod-delete{
    margin-right: 20px;
  }

  .prod-price, .detail, .prod-count {
    width: 100%;
    text-align: center;
    margin: 6px auto;
    justify-content: center;
  }
  
  img{
    margin: 0 auto;
  }

  .reset{
    margin: 0;
  }
}